body {
        background: green;
}

#beallitasok {
        border: 0.8vw solid #333;
        width: 50%;
        margin: 0 auto;
}

h1 {
        color: white;
        text-align: center;
        margin: 30px 0;
}
